<%= form_with(model: order_detail) do |form| %>
  <% if order_detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order_detail.errors.count, "error") %> prohibited this order_detail from being saved:</h2>

      <ul>
        <% order_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :order_id, style: "display: block" %>
    <%= form.collection_select :order_id, Order.all, :id, :id, :include_blank => true %>
  </div>

  <div>
    <%= form.label :food_id, style: "display: block" %>
    <%= form.collection_select :food_id, Food.all, :id, :name, :include_blank => true %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
